<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fishroad.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.fishroad.vo.News">
    <id column="url" jdbcType="VARCHAR" property="url" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="news_type" jdbcType="VARCHAR" property="news_type" />
    <result column="cmt_count" jdbcType="INTEGER" property="cmt_count" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    <result column="modify_time" jdbcType="VARCHAR" property="modify_time" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="last_update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    url, title, news_type, cmt_count, create_time, modify_time, last_update_time
  </sql>
  <select id="queryPage" resultMap="BaseResultMap">  
        select * from news   
        <where>  
        	1=1
            <if test="news.title != null">  
                and title LIKE CONCAT('%', CONCAT(#{news.title}, '%'))
            </if> 
            <if test="news.news_type != null">  
                and news_type LIKE CONCAT('%', CONCAT(#{news.news_type}, '%'))
            </if>  
			<if test="news.create_time != null">  
                and create_time LIKE CONCAT('%', CONCAT(#{news.create_time}, '%'))
            </if>
        </where>
        <if test="sort != null">
        	order by ${sort} ${order}
      	</if>
        limit #{offset},#{limit} 
    </select> 
    
    <select id="count" resultType="java.lang.Integer">
    	select count(*) from news
    	<where>  
        	1=1
            <if test="news.title != null">  
                and title LIKE CONCAT('%', CONCAT(#{news.title}, '%'))
            </if> 
            <if test="news.news_type != null">  
                and news_type LIKE CONCAT('%', CONCAT(#{news.news_type}, '%'))
            </if>  
			<if test="news.create_time != null">  
                and create_time LIKE CONCAT('%', CONCAT(#{news.create_time}, '%'))
            </if>
        </where>
    </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where url = #{url,jdbcType=VARCHAR}
  </select>
   <select id="getAll" resultMap="BaseResultMap">
  	select * from news
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from news
    where url = #{url,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fishroad.vo.News">
    insert into news (url, title, news_type, 
      cmt_count, create_time, modify_time, 
      last_update_time)
    values (#{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{news_type,jdbcType=VARCHAR}, 
      #{cmt_count,jdbcType=INTEGER}, #{create_time,jdbcType=VARCHAR}, #{modify_time,jdbcType=VARCHAR}, 
      #{last_update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fishroad.vo.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="news_type != null">
        news_type,
      </if>
      <if test="cmt_count != null">
        cmt_count,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
      <if test="last_update_time != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="news_type != null">
        #{news_type,jdbcType=VARCHAR},
      </if>
      <if test="cmt_count != null">
        #{cmt_count,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=VARCHAR},
      </if>
      <if test="last_update_time != null">
        #{last_update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fishroad.vo.News">
    update news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="news_type != null">
        news_type = #{news_type,jdbcType=VARCHAR},
      </if>
      <if test="cmt_count != null">
        cmt_count = #{cmt_count,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=VARCHAR},
      </if>
      <if test="last_update_time != null">
        last_update_time = #{last_update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where url = #{url,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fishroad.vo.News">
    update news
    set title = #{title,jdbcType=VARCHAR},
      news_type = #{news_type,jdbcType=VARCHAR},
      cmt_count = #{cmt_count,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=VARCHAR},
      modify_time = #{modify_time,jdbcType=VARCHAR},
      last_update_time = #{last_update_time,jdbcType=TIMESTAMP}
    where url = #{url,jdbcType=VARCHAR}
  </update>
</mapper>